rtu-main/.flows_hljh-ch-001.json.backup
[{"id":"fe89b527.29ad58","type":"tab","label":"rtu://main","disabled":false,"info":""},{"id":"b8fc00c1.97ac4","type":"onEvent","z":"fe89b527.29ad58","event":"message","name":"onEvent","x":160,"y":120,"wires":[["924e9942.6f7158","d5c0b3.331edf5","53e733d9.197f7c"]]},{"id":"e13016fe.4279a8","type":"send","z":"fe89b527.29ad58","DDN":">>comm","topic":"tg://-235212370","name":"send","x":450,"y":120,"wires":[["339b9fa5.c8d69"],["339b9fa5.c8d69"]]},{"id":"d5c0b3.331edf5","type":"function","z":"fe89b527.29ad58","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getMilliseconds();\n\nmsg.data = String(Number(msg.data.split(',')[0])) + ',' + msg.data.split(',')[1] + ',' + msg.data.split(',')[2];\n\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"00\" + second;\n}\n\nif (second < 100) {\n    second = \"0\" + second;\n}\n\nvar z01_err = \"\", z02_err = \"\";\nvar z01 = msg.data.split(',')[0];\nvar z02 = msg.data.split(',')[1];\n\nif(z01 < 9)\n{z01_err = \"*warning*\";}\nelse if(z01 < 18)\n{z01_err = \"*warning*\";}\n\nvar timestamp = \"ID:OD\" +year+month+date+hour+min+\"-\"+second\ndata = timestamp + \"\\n\";\ndata += \"ODN:hljh-ch-00\" + msg.data.split(',')[2] + \"\\n\";\ndata += \"RTU:\" + msg.data.split(',')[2] + \"\\n\";\ndata += \"[z01] liquid: \" + z01 + \" L \" + z01_err + \"\\n\";\ndata += \"[z02] ph: \" + z02 + \" \" + z02_err;\n\nmsg.payload = {\n    \"type\":\"message\",\n    \"content\": data\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["4bb8e9d5.8fc708","e13016fe.4279a8"]]},{"id":"339b9fa5.c8d69","type":"debug","z":"fe89b527.29ad58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":120,"wires":[]},{"id":"924e9942.6f7158","type":"retEvent","z":"fe89b527.29ad58","name":"retEvent","errorCode":0,"errorMsg":"OK","x":320,"y":120,"wires":[]},{"id":"4bb8e9d5.8fc708","type":"debug","z":"fe89b527.29ad58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":80,"wires":[]},{"id":"9df4be88.67512","type":"send","z":"fe89b527.29ad58","DDN":">>#hljh-view","topic":"","name":"send","x":450,"y":160,"wires":[["222561e9.b095fe"],["222561e9.b095fe"]]},{"id":"222561e9.b095fe","type":"debug","z":"fe89b527.29ad58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":160,"wires":[]},{"id":"53e733d9.197f7c","type":"function","z":"fe89b527.29ad58","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getSeconds();\n\nvar msg= {'data' : String(Number(msg.data.split(',')[0]) * 1) + ',' + msg.data.split(',')[1] + ',' + msg.data.split(',')[2]}\n\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"0\" + second;\n}\n\nvar z01_err = \"\", z02_err = \"\";\nvar z01 = msg.data.split(',')[0];\nvar z02 = msg.data.split(',')[1];\n\nfunction left(str, lenght){\n    if(str.length >= lenght){\n        return str;\n    }\n    return left(\"0\" + str, lenght);\n}\n\nfunction ran(val){\n    var a = 0, b = 1, c = -1;\n    if(val[0] < 50)return c;\n    if(val[0] < 100) return b;\n    \n    if(val[1] < 8) return b;\n    \n    return a;\n}\n\nvar timestamp = \"ID:OD\" +year+month+date+hour+min+\"-\"+second\n\nsta = ['0'];\nvar rtu = msg.data.split(',')[2];\nmsg.payload = {\n    \"data\": {\n        \"content\": {\n            \"[z01] liquid\": left(z01, 3) + \"L\",\n            \"[z02] ph\": left(z02, 2),\n            \"RTU\": rtu\n        },\n        \"time\": String(hour) + \":\" + String(min) + \":\" + String(second),\n        \"from\": \"hljh-ch-00\" + rtu,\n        \"to\": \"hljh-dhq\",\n        \"note\": rtu,\n        \"status\": ran([z01, z02])\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["9df4be88.67512"]]}]