rtu-main/flows_eipi.json
[{"id":"22b43ba2.7afa44","type":"tab","label":"Echo","disabled":false,"info":""},{"id":"237bec68.c5e644","type":"debug","z":"22b43ba2.7afa44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":580,"wires":[]},{"id":"e0204056.d3999","type":"onEvent","z":"22b43ba2.7afa44","event":"message","name":"onEvent","x":540,"y":620,"wires":[["237bec68.c5e644","794cc174.b4cce","9258e280.4e3e"]]},{"id":"794cc174.b4cce","type":"retEvent","z":"22b43ba2.7afa44","name":"retEvent","errorCode":0,"errorMsg":"OK","x":700,"y":660,"wires":[]},{"id":"9258e280.4e3e","type":"function","z":"22b43ba2.7afa44","name":"","func":"msg.payload = msg.data;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":620,"wires":[["b187069d.d230d8"]]},{"id":"b187069d.d230d8","type":"send","z":"22b43ba2.7afa44","DDN":">>comm","topic":"tg://-352168287","name":"send","x":970,"y":620,"wires":[[],[]]}]