rtu-main/flows_hljh.json
[{"id":"6c9ee4b2.bb9dac","type":"tab","label":"rtu://main","disabled":false,"info":""},{"id":"69d0a82f.c65988","type":"onEvent","z":"6c9ee4b2.bb9dac","event":"message","name":"onEvent","x":160,"y":120,"wires":[["cf231be8.f61c58","44c9c7c2.0d6318","30f644f5.852abc"]]},{"id":"31bb7fa1.e8d8","type":"send","z":"6c9ee4b2.bb9dac","DDN":">>comm","topic":"tg://-235212370","name":"send","x":450,"y":120,"wires":[["ef0c1584.f28da8"],["ef0c1584.f28da8"]]},{"id":"44c9c7c2.0d6318","type":"function","z":"6c9ee4b2.bb9dac","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getMilliseconds();\n\nmsg.data = String(Number(msg.data.split(',')[0]) * 2.222222222) + ',' + msg.data.split(',')[1] + ',' + msg.data.split(',')[2];\n\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"00\" + second;\n}\n\nif (second < 100) {\n    second = \"0\" + second;\n}\n\nvar z01_err = \"\", z02_err = \"\";\nvar z01 = msg.data.split(',')[0];\nvar z02 = msg.data.split(',')[1];\n\nif(z01 < 9)\n{z01_err = \"*warning*\";}\nelse if(z01 < 18)\n{z01_err = \"*warning*\";}\n\nvar timestamp = \"ID:OD\" +year+month+date+hour+min+\"-\"+second\ndata = timestamp + \"\\n\";\ndata += \"ODN:hljh-tpe-00\" + msg.data.split(',')[2] + \"\\n\";\ndata += \"RTU:\" + msg.data.split(',')[2] + \"\\n\";\ndata += \"[z01] liquid: \" + z01 + \" L \" + z01_err + \"\\n\";\ndata += \"[z02] ph: \" + z02 + \" \" + z02_err;\n\nmsg.payload = {\n    \"type\":\"message\",\n    \"content\": data\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["3bde4925.fd08f6","31bb7fa1.e8d8"]]},{"id":"ef0c1584.f28da8","type":"debug","z":"6c9ee4b2.bb9dac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":120,"wires":[]},{"id":"cf231be8.f61c58","type":"retEvent","z":"6c9ee4b2.bb9dac","name":"retEvent","errorCode":0,"errorMsg":"OK","x":320,"y":120,"wires":[]},{"id":"3bde4925.fd08f6","type":"debug","z":"6c9ee4b2.bb9dac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":80,"wires":[]},{"id":"fb5cb45.3ba2948","type":"send","z":"6c9ee4b2.bb9dac","DDN":">>#hljh-view","topic":"","name":"send","x":450,"y":160,"wires":[["f3af6c38.577cf"],["f3af6c38.577cf"]]},{"id":"f3af6c38.577cf","type":"debug","z":"6c9ee4b2.bb9dac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":160,"wires":[]},{"id":"30f644f5.852abc","type":"function","z":"6c9ee4b2.bb9dac","name":"","func":"var curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getSeconds();\n\nvar msg= {'data' : String(Number(msg.data.split(',')[0]) * 1) + ',' + msg.data.split(',')[1] + ',' + msg.data.split(',')[2]}\n\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"0\" + second;\n}\n\nvar z01_err = \"\", z02_err = \"\";\nvar z01 = msg.data.split(',')[0];\nvar z02 = msg.data.split(',')[1];\n\nvar timestamp = \"ID:OD\" +year+month+date+hour+min+\"-\"+second\ndata = timestamp + \"\\n\";\ndata += \"ODN:hljh-site-tpe\\n\";\ndata += \"RTU:\" + msg.data.split(',')[2] + \"\\n\";\ndata += \"[z01] liquid: \" + z01 + \" cm \" + z01_err + \"\\n\";\ndata += \"[z02] ph: \" + z02 + \" \" + z02_err;\nsta = ['0', '1', '-1'];\nvar rtu = msg.data.split(',')[2];\nmsg.payload = {\n    \"data\": {\n        \"content\": {\n            \"[z01] liquid\": z01 + \"L\",\n            \"[z02] ph\": z02,\n            \"ODN\": \"hljh-tpe-00\" + rtu,\n            \"RTU\": rtu\n        },\n        \"time\": String(hour) + \":\" + String(min) + \":\" + String(second),\n        \"from\": \"hljh-tpe-00\" + rtu,\n        \"to\": \"hljh-dhq\",\n        \"note\": rtu,\n        \"status\": sta[Math.floor(Math.random() * 3)]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["fb5cb45.3ba2948"]]}]