rtu-flow/.flows_eipi.json.backup
[{"id":"fe14eedc.1d941","type":"tab","label":"Echo","disabled":false,"info":""},{"id":"e4a841bb.2f0e7","type":"onEvent","z":"fe14eedc.1d941","event":"message","name":"onEvent","x":560,"y":440,"wires":[["6c1e2a66.c21e04","f532e8f8.a96a98"]]},{"id":"6c1e2a66.c21e04","type":"retEvent","z":"fe14eedc.1d941","name":"retEvent","errorCode":0,"errorMsg":"OK","x":720,"y":480,"wires":[]},{"id":"f532e8f8.a96a98","type":"debug","z":"fe14eedc.1d941","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":400,"wires":[]},{"id":"f2fa2f42.3c789","type":"inject","z":"fe14eedc.1d941","name":"Value Inputs","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":true,"onceDelay":"1","x":340,"y":200,"wires":[[]]},{"id":"8572308d.1c1ad","type":"function","z":"fe14eedc.1d941","name":"Random Values Generator","func":"var temp = Math.floor(Math.random()*30);\nvar str1 = \"ODN: rtu-flow\\n[z01] temp: \"+ temp+ \" deg\";\nvar current = Math.floor(Math.random()*1000);\nvar str2 = \"\\n[z02] current: \"+ current + \" mA\";\n\n\n/*var content = `\nID:SK201905151338-090\nCar:CKD25V-00001\n[z01] ph: xxx\n`*/\n\nvar curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getMilliseconds();\n\n\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"00\" + second;\n}\n\nif (second < 100) {\n    second = \"0\" + second;\n}\n\nvar timestamp = \"ID:OD\" +year+month+date+hour+min+\"-\"+second\n\nmsg.payload = {\n   type: \"message\",\n   content: timestamp+\"\\n\"+str1+str2\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[["eca51313.c4e75"]]},{"id":"e00fd72f.2fd628","type":"debug","z":"fe14eedc.1d941","name":"Output (Debug)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":200,"wires":[]},{"id":"eca51313.c4e75","type":"send","z":"fe14eedc.1d941","DDN":">>rtu-main","topic":"","name":"Send","x":790,"y":200,"wires":[["e00fd72f.2fd628"],["e00fd72f.2fd628"]]},{"id":"110e2dd8.c88422","type":"inject","z":"fe14eedc.1d941","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":460,"wires":[["51a908ac.67e648"]]},{"id":"51a908ac.67e648","type":"send","z":"fe14eedc.1d941","DDN":">>rtu-io","topic":"","name":"send","x":180,"y":540,"wires":[[],[]]}]