rtu-flow/.flows_hljh.json.backup
[{"id":"ddcfa062.6cde","type":"tab","label":"ADC","disabled":false,"info":""},{"id":"3428dad.970f826","type":"function","z":"ddcfa062.6cde","name":"Random PH Generator","func":"var randPH = Math.floor(Math.random()*15);\nvar randVol = Math.floor(Math.random()*1000);\n\nvar str = \"[z02]\" + \" PH: \" + randPH + \"\\n[z02] liquid:\" + randVol + \" L\";\nmsg.payload = randVol + \",\" + randPH + \",1\";\n\n/*var content = `\nID:SK201905151338-090\nCar:CKD25V-00001\n[z01] ph: xxx\n`*/\n\nvar curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getMilliseconds();\n\n\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"00\" + second;\n}\n\nif (second < 100) {\n    second = \"0\" + second;\n}\n\nvar timestamp = \"ID:OD\" +year+month+date+hour+min+\"-\"+second\n\n//msg.payload = str;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["3023bfe6.d296f","9a1380e2.2e879"]]},{"id":"394dc4b6.06c50c","type":"inject","z":"ddcfa062.6cde","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["3428dad.970f826"]]},{"id":"3023bfe6.d296f","type":"send","z":"ddcfa062.6cde","DDN":">>ei-main","topic":"","name":"Send to ei-main","x":560,"y":120,"wires":[[],[]]},{"id":"9a1380e2.2e879","type":"debug","z":"ddcfa062.6cde","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":160,"wires":[]}]