rtu-flow/.flows_hljh-ch-001.json.backup
[{"id":"d1318602.631418","type":"tab","label":"ADC","disabled":false,"info":""},{"id":"326eb486.682cfc","type":"function","z":"d1318602.631418","name":"Random PH Generator","func":"var randPH = (8 + Math.random() * 6).toFixed(1);\nvar randVol = 0 + Math.floor(Math.random()*200);\n\nvar str = \"[z02]\" + \" PH: \" + randPH + \"\\n[z02] liquid:\" + randVol + \" L\";\nmsg.payload = randVol + \",\" + randPH + \",1\";\n\n/*var content = `\nID:SK201905151338-090\nCar:CKD25V-00001\n[z01] ph: xxx\n`*/\n\nvar curDate = new Date ();\nvar year = curDate.getFullYear();\nvar month = curDate.getMonth()+1;\nvar date = curDate.getDate();\nvar hour = curDate.getHours();\nvar min = curDate.getMinutes();\nvar second = curDate.getMilliseconds();\n\n\nif (month < 10) {\n    month = \"0\" + month;\n} \n\nif (date < 10) {\n    date = \"0\" + date;\n}\n\nif (hour < 10) {\n    hour = \"0\" + hour;\n}\n\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nif (second < 10) {\n    second = \"00\" + second;\n}\n\nif (second < 100) {\n    second = \"0\" + second;\n}\n\nvar timestamp = \"ID:OD\" +year+month+date+hour+min+\"-\"+second\n\n//msg.payload = str;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["136b4eab.d4ce91","c30cc948.69d678"]]},{"id":"7471c5cf.a68d6c","type":"inject","z":"d1318602.631418","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["326eb486.682cfc"]]},{"id":"136b4eab.d4ce91","type":"send","z":"d1318602.631418","DDN":">>ei-main","topic":"","name":"Send to ei-main","x":560,"y":120,"wires":[["510a7228.85802c"],["510a7228.85802c"]]},{"id":"c30cc948.69d678","type":"debug","z":"d1318602.631418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":160,"wires":[]},{"id":"510a7228.85802c","type":"debug","z":"d1318602.631418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":120,"wires":[]}]